# Node.js dependencies
node_modules/

# Python virtual environments
venv/
.env
__pycache__/

# Windows system files
Thumbs.db
Desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pip-log.txt
pip-delete-this-directory.txt

# Compiled files
*.pyc
*.pyo
*.pyd

# Editor & IDE files
.vscode/
.idea/
*.sublime-workspace
*.swp

# Lock files
package-lock.json
yarn.lock

# Miscellaneous
*.log
outputs/
unsloth_compiled_cache/
qwen-3-4b-yt/
qwen-3-4b-yt-gguf/
dataset.jsonl
transcripts.jsonl
videos.csv
result.txt
*.gguf
